# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Local SQLite database
slp_defects.db

# Streamlit config/cache
.streamlit/

# OS junk
.DS_Store
Thumbs.db

# VS Code settings
.vscode/